
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

nav {
    background-color: #3b82f6; 
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: white;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fcfcfc; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 350px;
}

h2 { margin-top: 0; font-size: 22px; }
h3 { color: #333; font-size: 18px; margin-bottom: 20px; }


form { display: flex; flex-direction: column; }

label { font-weight: bold; margin-bottom: 5px; font-size: 14px; }

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.button-group {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}


.btn-entrar, .btn-cadastro {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.btn-entrar {
    background-color: #10b981; 
    color: white;
}


.btn-cadastro {
    background-color: #a0a0a0;
    color: white;
}